<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MultiTenantBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <span class="text-white" aria-hidden="true">Welcome @Name</span> 
        </li>
        <AuthorizeView Roles="@($"{IdentityRoleNames.Developer}")">
            <li class="nav-item px-3">
                <span class="text-white" aria-hidden="true">This is only visible if your in the "Developer" role</span>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@($"{IdentityRoleNames.Administrator}")">
            <li class="nav-item px-3">
                <span class="text-white" aria-hidden="true">This is only visible if your in the "Administrator" role</span> 
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@($"{IdentityRoleNames.User}")">
            <li class="nav-item px-3">
                <span class="text-white" aria-hidden="true">This is only visible if your in the "User" role</span> 
            </li>
        </AuthorizeView>
    </ul>
</div>